//- mixin pagination()
//-   .pagination
//-     a(href="#!").pagination__showmore.pagination__btn Показать еще
//-     .pagination__row
//-       a.pagination__prev.pagination__btn(href="#!") Назад
//-       .pagination__pages
//-         a(href="#!").pagination__page.pagination__btn 1
//-         a(href="#!").pagination__page.pagination__btn.pagination__page--active 2
//-         a(href="#!").pagination__page.pagination__btn 3
//-         a(href="#!").pagination__page.pagination__btn 4
//-         a(href="#!").pagination__page.pagination__btn 5
//-         a(href="#!").pagination__page.pagination__btn 6
//-         a(href="#!").pagination__page.pagination__btn 7
//-         a(href="#!").pagination__page.pagination__btn ...
//-         a(href="#!").pagination__page.pagination__btn 32
//-       a(href="#!").pagination__next.pagination__btn Далее