mixin counter(data)
	.counter.js-counter&attributes(attributes)
		.counter__item.js-counter__minus
		.counter__item
			input.counter__input.js-counter__input(title='number' value= data.val)
		.counter__item.js-counter__plus