mixin soc-link()
	.soc
		a.soc-link(href="#")
			+svg('vk')
		a.soc-link(href="#")
			+svg('inst')
		a.soc-link.soc-link--fb(href="#")
			+svg('fb')
		a.soc-link(href="#")
			+svg('youtube')
		a.soc-link(href="#")
			+svg('n')