mixin breadcrumbs(links)
  //start breadcrumbs
  .breadcrumbs&attributes(attributes)
    .wrapper: .breadcrumbs__list
      each item in links
        a(href="#!").link.breadcrumbs__link(class={'breadcrumbs__link--current': item === links[links.length - 1]})= item

    .only-mobile
      a(href="#!").breadcrumbs__link.breadcrumbs__link--back 
        +svg('back')(width="5" height="10")
        span Назад
  //end breadcrumbs