extends pug/base

append vars
	- title = 'Title goes here'

block content
	.wrapper
		.content(style='max-width: 850px; margin: 0 auto;')
			h2 Пищевое Производство 
			p Агрокомплекс построен в марте 2018 года в городе Электросталь Московской области. Это современный тепличный комплекс по непрерывному выращиванию овощных культур в защищенном грунте.
			p Агрокомплекс стал первым резидентом на территории агрокластера индустриального парка  Victoria Industrial Park и обеспечен всей необходимой инженерной инфраструктурой и энергетическими мощностями - имеет собственный энергоцентр и ВЗУ.
			h5 Высокий уровень автоматизации и современные технологии, применяемые в производстве, позволяют агрокомплексу выращивать томаты, огурцы и салат круглогодично.
			p Поставщиками посевного материала для выращивания рассады являются ведущие мировые производители. Семена не содержат генномодифицированных компонентов и проходят тщательную лабораторную проверку.
			p Бренд-портфель компании состоит из более 75 широко известных брендов. Основные марки пива – BUD («БАД»), BUD Alcohol Free («БАД Безалкогольный»), Spaten («Шпатен»), Corona Extra («Корона Экстра»), Velkopopovický Kozel («Велкопоповицкий козел»), Hoegaarden («Хугарден»), «Старый Мельник из  Бочонка», «Клинское», «Белый медведь» и другие. В настоящий момент компания AB InBev Efes является одним из лидеров пивоваренного рынка.
			h5 Объем производства – около 20 тысяч тонн продукции в год.
			p В основу производства заложена современная голландская технология – малообъемная гидропоника с системой искусственного досвечивания. Защита растений осуществляется биологическим методом при помощи специальных насекомых – энтомофагов, что позволяет исключить использование химических методов защиты. Опыление растений производится шмелями, этот метод обеспечивает лучшие вкусовые характеристики и внешний вид продукции. 
			h3 H3. Live chat support: a complete guide to live chat implementation and best practices
			h5 H5. Live chat is a powerful tool, but only when it’s used properly.
			p We're thrilled to welcome Dr. Pignol, whose rich and unique experience base within the global radiation therapy community will help the Accuray team to achieve its vision of 'expanding the curative power of radiation therapy.' He joins the company at an important time in its growth and is a key addition to our executive leadership team," said Joshua H. Levine, president and chief executive officer.
			
			blockquote
				p “Modern consumers rarely have a single touchpoint with any given company”
			ul
				li If most of your website traffic is to a specific support page, add live chat there
				li If you have a physical product that’s frequently returned, you can start a visitor auto message on the return page with a link to your FAQs
				li If you have a software product, and customers frequently need help during setup, trigger an auto message in your Messenger during this process
			img(src='./images/test_img.jpg', alt='temp img')
			small подпись для фотографии, декоративный шрифт для подписей
		
			img(src='./images/test_img.jpg', alt='temp img')
		
			ol
				li If most of your website traffic is to a specific support page, add live chat there
				li If you have a physical product that’s frequently returned, you can start a visitor auto message on the return page with a link to your FAQs
				li If you have a software product, and customers frequently need help during setup, trigger an auto message in your Messenger during this process
			.table-wrap
				table
					tr
						th Тип
						th Номинальный ток
						th Максимальная мощность нагрузки
						th Диапазон входного напряжения сети
						th Габаритные размеры
						th Вес
					tr
						td ESSV-I 3.200-050
						td 50
						td 50
						td 50
						td 50
						td 50
					tr
						td ESSV-I 3.200-050
						td 67
						td 67
						td 67
						td 67
						td 67
					tr
						td ESSV-I 3.200-050
						td 84
						td 84
						td 84
						td 84
						td 84
					tr
						td ESSV-I 3.200-050
						td 115
						td 115
						td 115
						td 115
						td 115
					tr
						td ESSV-I 3.200-050
						td 124
						td 124
						td 124
						td 124
						td 124
					tr
						td ESSV-I 3.200-050
						td 148
						td 148
						td 148
						td 148
						td 148
					tr
						td ESSV-I 3.200-050
						td 220
						td 220
						td 220
						td 220
						td 220
					tr
						td ESSV-I 3.200-050
						td 279
						td 279
						td 279
						td 279
						td 279
